In [1]:
# The code was removed by Watson Studio for sharing.

<h1>My Jupyter Notebook on Watson Studio</h1>
<hr width="100%">

<b>My name is Fábio, I am Mlitary</b>

<i>I am interested  in Data Sciense because it's a current and promising profession</i>

<h3>The code in cell below shows a calculator with the basic operations (addition, subtraction, multiplication and division )</h3>

In [3]:
def tabuada(x):
    for mult in range(1,11):
        print('{0} x {1} = {2}\n'.format(x,mult,x*mult))
    for soma in range(1,11):
        print('{0} + {1} = {2}\n'.format(x,soma,x+soma))
    for sub in range(1,11):
        print('{0} - {1} = {2}\n'.format(x,sub,x-sub))
    for div in range(1,11):
        print('{0} / {1} = {2}\n'.format(x,div,x/div))   
      
if __name__=='__main__':
    num = int(input('Digite um número: '))
    tabuada(num)

Digite um número: 7
7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

7 x 10 = 70

7 + 1 = 8

7 + 2 = 9

7 + 3 = 10

7 + 4 = 11

7 + 5 = 12

7 + 6 = 13

7 + 7 = 14

7 + 8 = 15

7 + 9 = 16

7 + 10 = 17

7 - 1 = 6

7 - 2 = 5

7 - 3 = 4

7 - 4 = 3

7 - 5 = 2

7 - 6 = 1

7 - 7 = 0

7 - 8 = -1

7 - 9 = -2

7 - 10 = -3

7 / 1 = 7.0

7 / 2 = 3.5

7 / 3 = 2.3333333333333335

7 / 4 = 1.75

7 / 5 = 1.4

7 / 6 = 1.1666666666666667

7 / 7 = 1.0

7 / 8 = 0.875

7 / 9 = 0.7777777777777778

7 / 10 = 0.7

<html>
<head>
<title>Listas em HTML</title>
</head>

<body>
<ol>
   <li>Name</li>
   <li>Telephone</li>
   <li>Adress</li>
 </ol>
    
<ul>
    <li>Data Sciense</li>
    <li>Machine Learning</li>
    <li>Deep Learning</li>
    </ul>
    
<table border="2" align="left">    
<tr>
    <td>Profession</td>
    <td>Country</td>
</tr>
    
<tr>
    <td>Engeneer</td>
    <td>France</td>
</tr>
    
<tr>
    <td>Analyst</td>
    <td>Germany</td>
</tr>   
    </table>    
    
</body>